<h2>Current Animal Details</h2>
<hr>
<p>
</p>


<form>ID Number: <%= @animal.id()%>. Age: <%= @animal.age() %>.  
Species: <%= @animal.species() %>.  
Date arrived on site: <%=  @animal.date_arrived %>.  
Health status of animal: <%= @animal.study_availability %>.</form>

<p>
</p>
<hr>
<p>
<hr>
<p>
</p>

<div class="side">
<h2>Edit Animal Details</h2>
<form action='/studycheck/animals/<%= @animal.id%>' method="post">

  <label> 
    Age:
    <input type="number" name="age" value="" min="0" max="100">
  </label>
  <p>
  </p>
  <label>
    Species: 
    <select name="species">
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="monkey">Monkey</option>
      <option value="mouse">Mouse</option>
      <option value="rat">Rat</option>
    </select>
  </label>
  <p>
  </p>
  <label> 
    Date Arrived:
    <input type="text" name="date_arrived" placeholder="yyyy-mm-dd">
  </label>
  <p>
  </p>

  <label>
    Health Status:
    <select name="study_availability">
      <option value="healthy">Healthy</option>
      <option value="unhealthy">Unhealthy</option>
    </select>
  </label>

 

  <input type="submit" class="buttons" value="Update Animal Details"> 

</form>

<hr>