<h1>Animals ready to see the "Doctor"</h1>

<table>
  <tr>
    <th>ID</th>
    <th></th>
    <th>Age</th>
    <th></th>
    <th>Species</th>
    <th></th>
    <th>Date of Arrival</th>
    <th></th>
    <th>Health Status</th>
    <th></th>
    <th>DOCTOR'S OFFICE</th>
  </tr>

  <% for animal in @animals %>
  <% if animal.study_availability != 'healthy' %>

  <tr>
    <td><%= animal.id %></td>
    <td>|</td>
    <td><%= animal.age %></td>
    <td>|</td>
    <td><%= animal.species %></td>
    <td>|</td>
    <td><%= animal.date_arrived %></td>
    <td>|</td>
    <td><%= animal.study_availability %></td>
    <td>|</td>
    <td><form action="/studycheck/animals/<%= animal.id %>" method="get">
    <input type="submit" class="buttons" value="Check/Alter">
    </form></td>

  </tr>
  <% end %>
  <% end %>
</table>

