<link rel="stylesheet" href="/style.css">


<h2>Animal Details</h2>



<p>Age: <%= @animal.age() %></p>
<p>Species: <%= @animal.species() %></p>
<p>Date arrived on site: <%=  @animal.date_arrived %></p>
<p>Health status of animal: <%= @animal.study_availability %></p>


<form action="/studycheck/animals/<%= @animal.id %>/edit" method="get"></a>
<input type="submit" class="buttons" value="Update">

</form>

<form action="/studycheck/animals/<%= @animal.id %>/delete" method="post">
  <input type="submit" class="buttons" value="Delete"/>
</form>
