<h2>Current Assignment</h2>

<p>Animal ID Number: <%= @assignment.id %>. Study ID Number: <%= @assignment.study_id %>.</p>

<h2>Edit Study Details</h2>
<form action='/studycheck/assign/<%= @assignment.id%>' method="post">
  <label> 
    Study ID number:
    <select name="study_id">
        <% for study in @studies    %>
         <option value=<%=study.id.to_i %>><%=study.id%> (Purpose: <%=study.purpose%> SD: <%=study.sd %>)</option>
         <% end %>
        </select>
  </label>
  <label>
    Animals:
    <select name="animal_id">
        <% for animals in @animals    %>
        <% if animals.study_availability == 'healthy' %> 
         <option value=<%=animals.id.to_i %>>ID: <%= animals.id%> Species: <%=animals.species%> Health: <%=animals.study_availability%></option>
         <% end %>
         <% end %>
    </select>

  </label>



  <input type="submit" value="Update Assignment Details"> 

</form>

<hr>