<h2>Add new animal to study</h2>
<hr>
<hr>

<form action="/studycheck/assign" method="post">
  <label> 
    Study ID number:
    <select name="study_id">
        <% for study in @studies    %>
         <option value=<%=study.id.to_i %>><%=study.id%> (Purpose: <%=study.purpose%> SD: <%=study.sd %>)</option>
         <% end %>
        </select>
  </label>
  <label>
    Animals:
    <select name="animal_id">
        <% for animals in @animals    %>
         <option value=<%=animals.id.to_i %>>Species: <%=animals.species%> Health: <%=animals.study_availability%></option>
         <% end %>
      </select>

  </label>
  <input type="submit" value="Assign Animal"/>
</form>

<hr>